.container{
    margin-top:40px;
     text-align: center;
    height: 50px;
    right: 60px;
    bottom: 40px;

}
.banner{
    margin-top:40px;
    text-align: center;
   height: 50px;
   right: 100px;
   bottom: 40px;

    }

.lucky{
    margin-top:40px;
    text-align: center;
   height: 50px;
   right: 100px;
   bottom: 40px
}
.navbar{
    color: tomato;
}